@model WebComputerAccessories.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Cart", FormMethod.Post, new { id = "addProductIntoCart" }))
{
    @Html.AntiForgeryToken()
    <div>
        <input Name="id" type="text" value="@Model.Id" hidden />
        <input id="stock" type="text" value="@Model.Stock" hidden />
    </div>
    <div class="container">
        <div class="cart-wrapper row " >
            <div class="cart-left col-md-4 wow bounceInUp" data-wow-delay="1s">
                <div class="cart-image">
                    <img src="@Model.Image" alt="">
                </div>
            </div>
            <div class="cart-right col-md-8 wow bounceInRight" data-wow-delay="1s">
                <div class="cart-information" >
                    <span class="cti-name">@Model.Name</span>
                    <div class="bg-price">
                        <span>Đơn giá: </span>
                        <span class="cti-price"> @(((double)Model.Price).ToString("N0").Replace(",",".")) ₫</span>
                    </div>
                    <div class="bg-detail">
                        <span class="tt-detail">Mô tả: </span>
                        <span class="cti-detail">@Model.Details</span>
                    </div>
                    <div class="bg-amount">
                        <div class="tt-amount">Số Lượng :</div>
                        <div class="input-gr">
                            <span id="minus">
                                <a class="itoutline">
                                    <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="svg-icon "><polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon></svg>
                                </a>
                            </span>
                            <input id="quantity" name="quantity" type="text" class="input-amount itoutline" onkeypress="" value="1" />
                            <span id="plus">
                                <a class="itoutline">
                                    <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="svg-icon"><polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon></svg>
                                </a>
                            </span>
                        </div>
                        <div class="tt-amount _sp">@Model.Stock sản phẩm có sẵn</div>
                    </div>
                    <a id="submit" class="add-cart mt-3">
                        <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class=" icon-add-to-cart"><g><g><polyline fill="none" points=".5 .5 2.7 .5 5.2 11 12.4 11 14.5 3.5 3.7 3.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polyline><circle cx="6" cy="13.5" r="1" stroke="none"></circle><circle cx="11.5" cy="13.5" r="1" stroke="none"></circle></g><line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="7.5" x2="10.5" y1="7" y2="7"></line><line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="9" x2="9" y1="8.5" y2="5.5"></line></g></svg>
                        <span>Thêm vào giỏ hàng</span>
                    </a>
                </div>
            </div>
        </div>

        <p>
            @Html.ActionLink("Trở lại", "Index", "Home")
        </p>
    </div>


    @section Scripts {
        <script>

            let inputOnlyNumber = () => {
                if (isNaN(String.fromCharCode(event.keyCode))) return false;
            }
            $$('.input-amount').onkeypress = inputOnlyNumber;

            submit.onclick = function () {
                addProductIntoCart.submit();
            }

            plus.onclick = () => {
                if (parseInt(quantity.value) < parseInt(stock.value)) {
                    quantity.value++;
                }
            }

            minus.onclick = () => {
                if (quantity.value > 0)
                    quantity.value--;
            }
        </script>
    }
}
