@model WebComputerAccessories.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">

    <div class="card mt-3">
        <h5 class="card-header">@ViewBag.Title</h5>
        <div class="card-body">

                <span>Giỏ hàng chưa có sản phẩm!</span>


                <table class="table table-bordered table-hover table-sm">
                    <tr>
                        <th width="5%">#</th>
                        <th>Hình ảnh</th>
                        <th>Sản phẩm</th>
                        <th width="10%">Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th width="5%"></th>
                    </tr>

                        <tr>
                            <td>#</td>
                            <td><img src="#" width="50" /></td>
                            <td></td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><a href="#"><i class="fal fa-minus"></i></a></span>
                                    </div>
                                    <input type="text" class="form-control text-center" value="" readonly />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><a href="#"><i class="fal fa-plus"></i></a></span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            @*<td class="text-center"><a href="@Url.Action("XoaKhoiGio", "GioHang", new { maSP = item.sach.ID })">Xóa</a></td>*@
                        </tr>

                    <tr>
                        <td colspan="5">Tổng thành tiền</td>
                        <td class="text-right font-weight-bold text-primary">

                        </td>
                        <td></td>
                    </tr>
                </table>

                <p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Tiếp tục mua hàng</a>
                    @*<a href="@Url.Action("ThanhToan", "Home")" class="btn btn-success">Thanh toán</a>*@
                </p>
            }
        </div>
    </div>    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
}



@section Scripts {
}
