@model IEnumerable<WebComputerAccessories.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" />
}

<h2>Sản Phẩm</h2>

<div class="btn-primary btn">
    @Html.ActionLink("Thêm Sản Phẩm", "Create")
</div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <img src="@item.Image" alt="@item.Name" height="48" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    <a href="/Admin/Products/Edit/@item.Id" class="badge rounded-pill bg-primary"><i class="fad fa-edit"></i> Edit </a> |

                    <a href="/Admin/Products/Details/@item.Id" class="badge rounded-pill bg-success"><i class="fad fa-info-circle"></i> Details </a> |

                    <a href="/Admin/Products/Delete/@item.Id" class="badge rounded-pill bg-danger"><i class="fad fa-trash"></i> Delete </a>
                </td>
            </tr>
        }

    </tbody>

</table>
@section Scripts{
    @{
        Html.RenderPartial("_ScriptTable");
    }
}
