@model IEnumerable<WebComputerAccessories.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" />
}

<h2>Đặt Hàng</h2>

<div class="btn-primary btn mb-2">
    @Html.ActionLink("Thêm Mới", "Create")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppUser.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a href="/Admin/orders/Edit/@item.Id" class="badge rounded-pill bg-primary"><i class="fad fa-edit"></i> Edit </a> |

                <a href="/Admin/orders/Details/@item.Id" class="badge rounded-pill bg-success"><i class="fad fa-info-circle"></i> Details </a> |

                <a href="/Admin/orders/Delete/@item.Id" class="badge rounded-pill bg-danger"><i class="fad fa-trash"></i> Delete </a>
            </td>
        </tr>
    }

</table>
@section Scripts{
    @{
        Html.RenderPartial("_ScriptTable");
    }
}